# Auto detect text files and perform LF normalization
* text=auto
*.blend filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceRoadBandsV1_1/RoadBandsV1_1_Normal.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4_1/RoadV4_1_Normal.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4_1/RoadV4_1_RoadAlbedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4_1/RoadV4_1_URP_MaskMap.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4/RoadV4_AO.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4/RoadV4_DarkEarthAlbedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4/RoadV4_StoneAlbedo.png filter=lfs diff=lfs merge=lfs -text
ArtSource/RoadBandsV1_1/GeneratedSmooth/normal_smooth.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4/RoadV4_Normal.png filter=lfs diff=lfs merge=lfs -text
ArtSource/RoadBandsV1_1/GeneratedSmooth/albedo_smooth.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4_1/RoadV4_1_AO.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4_1/RoadV4_1_StoneAlbedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4/RoadV4_RoadAlbedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceRoadBandsV1_1/RoadBandsV1_1_Albedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4_1/RoadV4_1_DarkEarthAlbedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4/RoadV4_URP_MaskMap.png filter=lfs diff=lfs merge=lfs -text
