# Auto detect text files and perform LF normalization
* text=auto
*.blend filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceRoadBandsV1_1/RoadBandsV1_1_Normal.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4_1/RoadV4_1_Normal.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4_1/RoadV4_1_RoadAlbedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4_1/RoadV4_1_URP_MaskMap.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4/RoadV4_AO.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4/RoadV4_DarkEarthAlbedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4/RoadV4_StoneAlbedo.png filter=lfs diff=lfs merge=lfs -text
ArtSource/RoadBandsV1_1/GeneratedSmooth/normal_smooth.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4/RoadV4_Normal.png filter=lfs diff=lfs merge=lfs -text
ArtSource/RoadBandsV1_1/GeneratedSmooth/albedo_smooth.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4_1/RoadV4_1_AO.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4_1/RoadV4_1_StoneAlbedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4/RoadV4_RoadAlbedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceRoadBandsV1_1/RoadBandsV1_1_Albedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4_1/RoadV4_1_DarkEarthAlbedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceV4/RoadV4_URP_MaskMap.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceDeepBumpV3Mix/Road_Normal_DeepBump_V2.png filter=lfs diff=lfs merge=lfs -text
ArtSource/DeepBumpV3Mix/road_normal_deepbump16.png filter=lfs diff=lfs merge=lfs -text
ArtSource/DeepBumpV3Mix/road_albedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/SurfaceDeepBumpV3Mix/Road_Albedo_V1.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Road_brighter_test.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Road_low_res_test.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Road_normals_test.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Road_paint_shadow_test.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Road_paint_test.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Road_shadows_brighter_test.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Road_test.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Road_persp_no_shadows_normals.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Road_persp_no_shadows.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Road_persp_shadows_first_normals.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Road_persp_shadows_first.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Road_persp_shadows_normals.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Road_persp_shadows_second_normals.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Road_persp_shadows_second.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Road_persp_shadows.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Road_top_no_shadows_normals.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Road_top_no_shadows.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Road_top_shadows_normals.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Road_top_shadows.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Terrain_1.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Terrain_1_1.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Terrain_1_normals.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Terrain_2.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Terrain_2_1.png filter=lfs diff=lfs merge=lfs -text
Assets/Art/Environment/TerrainRoadLookdev/TerrainLayers/DeepBumpV3Mix/Textures_test/Terrain_2_normals.png filter=lfs diff=lfs merge=lfs -text
Assets/Experiments/TutorialTerrainStage01/TutorialTerrain_Soil.png filter=lfs diff=lfs merge=lfs -text
Assets/Experiments/TutorialTerrainStage01/TutorialTerrainRoadCoordinates.asset filter=lfs diff=lfs merge=lfs -text
Assets/Experiments/TutorialTerrainStage02/TutorialTerrainData.asset filter=lfs diff=lfs merge=lfs -text
Assets/Experiments/ArtStyleStage22/Textures/Spruce_Bark_Albedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Experiments/ArtStyleStage22/Textures/Spruce_BranchBark_Albedo.png filter=lfs diff=lfs merge=lfs -text
Assets/Experiments/ArtStyleStage22/Textures/Spruce_Needle_Atlas.png filter=lfs diff=lfs merge=lfs -text
Assets/Experiments/TutorialTerrainStage01/TutorialTerrain_Road_Ochre.png filter=lfs diff=lfs merge=lfs -text
